@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  font-family: 'Lobster', cursive;
  background-image: url("../images/sample-pattern.png");
}

header{
  background-color: rgba(91, 46, 46, 5);
  padding: 50px;
  font-size: 40px;
  text-align: center;
}

footer{
  background-color: rgba(91, 46, 46, 5);
  height: 100px;
  display: block;
  margin-top: 10px;  
}

#left{
  float: left;
  font-size: 15px;
  margin: 20px;
}

#right{
  float: right;
  font-size: 15px;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  margin-bottom: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}
.fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}
.fa-rss {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-rss:hover {
  background-color: #eb8231;
}
.fa-youtube {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-youtube:hover {
  background-color: #e64a41;
}
.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}
.fa-google-plus {
  padding:10px 9px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-google-plus:hover {
  background-color: #e25714;
}

#article{
  background-color: rgba(255, 0, 0, 0.2);
  width: 550px;
  height: 150px;
  margin: 0px auto 0 auto;
  position: relative;
  padding: 5px;
  display: block; 
}

#article1{
  background-color: rgba(255, 0, 0, 0.2);
  width: 550px;
  margin: 0px auto 0 auto;
  position: relative;
  padding: 5px;
  display: none; 
}

#article2{
  background-color: rgba(255, 0, 0, 0.2);
  width: 550px;
  margin: 0px auto 0 auto;
  position: relative;
  padding: 5px;
  display: none; 
}